:root {
    --text-color: white;
    --bg-color: #fada4f;
    --primary-color: #f3a910;
    --secondary-color: #b25b0b;
    --border-radius: 0.7rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    /*
        for font  size and box shadow too
    */   
    --transition: all 0.3s ease;
}

* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

body {
        font-family: sans-serif;
        line-height: 1.2;
        background-color: var(--bg-color);
        color: var(--text-color);
}

a {
    text-decoration: none;
    color: var(--text-color);
    transition: var(--transition);
}

header {
        background-color: #f9c826;
        height: 5rem;
        display: flex;
        align-items: center;
}

nav ul {
        display: flex;
        position: absolute;
        top: 2%;
        right: 50%;
        transform: translateX(50%);
}

nav ul li a {
        padding: 1rem;
}

.logo  h3 {
        position: absolute;
        color: var(--secondary-color);
        top: 5%;
}

        .logo {
            margin: 12px;
        }

        .logo a {
            font-size: 24px;
        }

        .logo img {
            position: absolute;
            top: 1%;
            left: 1%;
            margin-right: 12px;
            border-radius: 12px;
            height: 34px;
            width: 44px;
        }

        .right-nav {
            display: flex;
            align-items: center;
            position: absolute;
            top: 2%;
            right: 1%;
        }

        .hero {
            font-size: 24px;
            margin: 24px 0;
        }

        .hero span {
            color: #b25b0b;
            font-weight: 700;
        }


        button {
            font: inherit;
        }

        .dropdown {
            position: relative;
            color: white;
        }

        .dropdown-content {
            position: absolute;
            right: 6%;
            display: none;
            color: var(--text-color);
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
        }

        .dropdown-content ol {
            background-color: #b25b0b;
            width: 200px;
            border-radius: 12px;
            text-align: center;
        }

        .dropdown-content ol li  {
            padding: 12px 0;
        }

                .dropdown-content ol li:hover  {
                    transform: scale(1.05);
                    background-color: #d78008;
                    border-radius: 12px;
        }

        .dropdown-content ol li a {
            text-align: center;
        }

        .dropdown:hover .dropdown-content {
            display: block;
            z-index: 9;
        }

        .action button:hover, .dropdown:hover {
             transform: scale(1.03);
        }

       .action .btn, .dropdown, nav ul li:hover {
        border: none;
            background-color: #b25b0b;
            color: #fff;
            padding: 4px 12px;
            margin:  0 12px;
            text-decoration: none;
            border-radius: 12px;
        }

        main {
        text-align: center;
        display: flex;
        }
        section {
            flex: 3;
            align-self: center;
        }
        aside {
            flex: 1;
            background-color: #f3a910;
            color: white;
        }

        aside ol {
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        }

        aside ol li {
            padding: 1rem 0;
        }

                aside ol li.active,  aside ol li:hover {
            background-color: #b25b0b;
            border-left: 12px solid #fada4f;
        }


         aside ol li:hover {
            box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
            transform: scale(1.03);
            padding: 12px ;
            border-radius: 8px;
        }

footer {
    width: 100%;
    background-color: #f9c826;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-links ul {
    display: flex;
    justify-content: space-between;
}

 .social-links ul li {
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
}

.social-links ul li:hover {
    transform: scale(1.1);
}

.Copyright {
    text-align: center;
    color: white;
    margin-top: 2rem;
}
