:root {
    --text-color: #f3a910;
    --bg-color: #ffffff;
    --primary-color: #f3a910;
    --secondary-color: #b25b0b;
    --border-radius: 0.7rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.5rem;
    --spacing-lg: 2rem;
    --spacing-xl: 3rem;
    --transition: all 0.3s ease;
    --box-shadow: 0 0 12px 5px rgba(0,0,0,0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    line-height: 1.2;
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x:  hidden;
}

a {
    text-decoration: none;
    color: #fff;
    transition: var(--transition);
}

button {
    border: none;
    padding: 4px 8px;
    background-color: #b25b0b;
    border-radius: var(--border-radius);
    color: #fff;
}

header {
    background-color: #f9c826;
    height: 5rem;
    display: flex;
    align-items: center;
}

.nav-links {
    position: absolute;
    top: 2%;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    gap: 2rem;
    list-style: none;
    color: #fff;
}

.nav-links li a {
  font-weight: 500;
  font-size: 1.1rem;
  position: relative;
}

.nav-links li .active::after,
.nav-links li a:hover::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background: #fb9303;
    transition: all 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 5px;
    background: #fb9303;
    transition: width 0.3s ease;
}

.logo  h3 {
    position: absolute;
    color: var(--secondary-color);
    top: 5%;
}

.logo {
    margin: 12px;
}

.logo a {
    font-size: 24px;
}

.logo img {
    position: absolute;
    top: 1%;
    left: 1%;
    margin-right: 12px;
    border-radius: 12px;
    height: 34px;
    width: 44px;
}

.right-nav {
    display: flex;
    align-items: center;
    position: absolute;
    top: 2%;
    right: 1%;
}

.btn {
    color: #fff;
    border-radius: var(--border-radius);
}

.hero {
    font-size: 24px;
    margin: 24px 0;
}

.hero span {
    color: #b25b0b;
    font-weight: 700;
}

#s-ab1 {
    position: absolute;
    top: 10%;
    left: 0%;
}

button {
    font: inherit;
}

.dropdown {
    position: relative;
    color: white;
    height: 28px;
    width: 28px;
    border: 3px solid #b25b0b;
    border-radius: 50%;
    text-align: center;
}

.dropdown img {
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.dropdown-content {
    position: relative;
    top: 110%;
    right: 170%;
    display: none;
    color: var(--text-color);
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

.dropdown-content ol {
    list-style-type: none;
    background-color: #b25b0b;
    width: 100px;
    border-radius: 12px;
    text-align: center;
}

.dropdown-content ol li  {
    padding: 6px 0;
    font-size: 14px;
}

.dropdown-content ol li:hover  {
    transform: scale(1.05);
    background-color: #d78008;
    border-radius: 12px;
}

.dropdown-content ol li a {
    text-align: center;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 9;
}

.action button:hover, .dropdown:hover {
        transform: scale(1.03);
        border-radius: var(--border-radius);
}

.action .btn {
    border: none;
    background-color: #b25b0b;
    color: #fff;
    padding: 4px 12px;
    margin:  0 12px;
    text-decoration: none;
    border-radius: var(--border-radius);
}

main {
text-align: center;
}

.form-container {
    border-radius: var(--border-radius);
    background-color: #f3a910;
    color: #fff;
    width: 90%;
    max-width: 460px;
    margin: var(--spacing-lg) auto;
    padding: var(--spacing-xs);
    box-shadow: var(--box-shadow);
}

.form-group {
    padding: var(--spacing-xs);
    display: flex;
}

.form-group label {
    width: 110px;
}

.form-group input,.form-group select {
    flex: 1;
}

.form-input {
    border: none;
    border-radius: var(--border-radius);
    padding: 2px 0px;
    caret-color: #f3a910;
    cursor: pointer;
    padding-left: 4px;
    color: #f3a910;
    font-weight: 600;
    text-align: center;
}

input:focus, select:focus {
    outline: none;
}

input[type="date"] {
    padding-left: 6px;
    font-family: sans-serif;
}

.form-container button {
    margin: var(--spacing-lg) 0 var(--spacing-xs);
}

p.text {
    font-size: smaller;
}

section {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
aside {
    flex: 1;
    background-color: #f3a910;
    color: white;
}

aside ol {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

aside ol li {
    padding: 1rem 0;
}

        aside ol li.active,  aside ol li:hover {
    background-color: #b25b0b;
    border-left: 12px solid #fada4f;
}


    aside ol li:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.4);
    transform: scale(1.03);
    padding: 12px ;
    border-radius: 8px;
}

footer {
    width: 100%;
    background-color: #f9c826;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-links ul {
    display: flex;
    justify-content: space-between;
}

 .social-links ul li {
    padding: 0.5rem;
    text-decoration: none;
    color: #fff;
}

.social-links ul li:hover {
    transform: scale(1.1);
}

.Copyright {
    text-align: center;
    color: white;
    margin-top: 2rem;
}
